@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oxygen:wght@300;400;700&display=swap');

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    filter: brightness(0.8);
    text-decoration: none;
}

.topo-menu {
    width: 100%;
    min-height: 60px;
    background-color: rgb(49, 49, 49);
    color: white;
}

.logo {
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}


li a {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    margin: 0 10px;
}

.content {
    width: 100%;
}

.sobre {
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 1000px;
    border-bottom: 1px solid black;
}

.presentation {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation h1 {
    font-size: 60px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: black;
}

.presentation h2 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: grey;
    margin-top: 35px;
}

.presentation p {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: grey;
    margin-top: 15px;
}

.lamp-img img{
    width: 350px;
    transition: all 1s linear;
    cursor: pointer;
}

.lamp-img img:hover {
    width: 400px;
}

.presentation-text {
    width: 600px;
    height: 200px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.presentation-text h2{
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: grey;
}

.presentation-text h3{
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: rgb(115, 187, 115);
    margin-top: 6px;
    letter-spacing: 2pt;
}

.profile {
    width: 100%;
    height: 800px;
    background-color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-text {
    width: 700px;
}

.profile p {
    font-size: 26px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: white;
    text-align: justify;
    animation: img-animation 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.img-profile {
    border: 2px solid white;
    margin-left: 80px;
    animation: img-animation 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;
}

.move {
    transform: rotateY(180deg);
}

.profile img:hover {
    transform: rotateY(180deg);
}

.img-text {
    position: absolute;
    top: 50%;
    left: 250px;
}

.img-text {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 2pt;
    animation: img-animation 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.projects {
    margin: 60px 0;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
    transition: all .2s linear;
    opacity: 0.1;
}

.projects-animation {
    margin-top: 60px;
    opacity: 1;
}

.projects-desanimation {
    margin-top: 0;
    opacity: 0.1;
}

.title-projects {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}

.title-projects ion-icon {
    margin-left: 20px;
    font-size: 30px;
}

.title-projects h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
} 

.title-projects h2 {
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.title-projects div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title-stack h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 40px;
}

.project {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
}

.project p {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
}

.project h4 {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-align: justify;
    color: white;
    margin: 0 10px;
}

.project:hover {
    filter: brightness(0.8);
}

.my-carousel {
    margin: 40px auto;
    width: 1000px;
    height: 500px;
}

.image-carousel {
    width: 1000px;
    height: 500px;
    background-color: black;
}

.image-carousel:nth-child(3) {
    background-color: white;
}

.image-carousel img {
    width: 1000px;
    height: 500px;
}

.image-carousel h1{
    color: white;
    font-size: 60px;
    text-align: center;
}

.stack {
    margin-top: 80px;
    margin-bottom: 60px;
}

.stack-list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-list img {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    cursor: pointer;
}

.stack h2 {
    min-height: 60px;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
  }

footer {
    height: 140px;
    background-color: #313131;
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 20px 0;
}

.contact ion-icon {
    font-size: 40px;
}

.contact div {
    margin: 0 20px;
}

.credits {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.hidden {
    display: none;
}

h6 {
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

h2.on, h2.off {
    width: 100px;
    height: 26px;
    margin-top: 10px;
    padding-top: 3px;
    text-align: center;
    background-color: #313131;
    color: white;
    border-radius: 10px;
}

@media (max-width:1400px) {
    .lamp-img {
        display: none;
    }

    .sobre {
        flex-direction: column;
        margin: 0;
        padding: 0;
        min-height: 500px;
        justify-content: center;
    }

    .presentation-text {
        display: none;
    }
}

@media (max-width:1400px) {
    .lamp-img {
        display: none;
    }

    .sobre {
        flex-direction: column;
        margin: 0;
        padding: 0;
        min-height: 500px;
        justify-content: center;
    }

    .presentation-text {
        display: none;
    }
}

@media (max-width:1300px) {

    .profile {
        min-height: 600px;
    }

    .profile-text p {
        font-size: 16px;
    }

    .img-profile img{
        width: 400px;
    }

    .img-text {
        display: none;
    }
}

@media (max-width:1050px) {

    .my-carousel {
        margin: 40px auto;
        width: 80%;
        height: 400px;
    }
    
    .image-carousel {
        width: 100%;
        height: 400px;
        background-color: black;
    }

    .stack-list {
        flex-wrap: wrap;
    }

    .stack-list img{
        margin-top: 10px;
    }

    .carousel-item h3 {
        display: none;
    }
}

@media (max-width: 800px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        margin: 0;
        padding: 0;
    }

    .profile-text {
        width: 90%;
    }

    .img-profile {
        margin: 40px auto;
        width: 90%;
    }

    .img-profile img {
        width: 100%;
    }

    .presentation {
        width: 100%;
        margin: 40px auto;
    }
}

@media (max-width:600px) {
    .carousel-inner, #carousel-controles{
        display: none;
    }

    .project {
        width: 300px;
        height: 100px;
    }

    .project h4 {
        font-size: 14px;
    }

    .title-projects h1{
        margin-left: 0;
        text-align: center;
    }

    .presentation h1, .presentation h2, .presentation p{
        text-align: center;
    }

    .stack h1 {
        font-size: 24px;
        text-align: center;
        margin-left: 0;
    }

    .stack img {
        width: 30px;
        height: 30px;
    }

    .title-projects{
        margin-left: 0;
    }

    h2.on, h2.off {
        width: 64px;
        height: 18px;
        font-size: 10px;
    }

    .title-projects h1 {
        font-size: 24px;
        margin-left: 8px;
        
    }

    .title-projects ion-icon {
        font-size: 20px;
    }

    .contact ion-icon {
        font-size: 28px;
    }
}

